$font: "Roboto", sans-serif;

.padder {
  padding: 0px 20px 0px 20px;
}

.container {
  padding: 3%;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}

.movie-container {
  width: 12rem;
  height: 18rem;
  font-family: $font;
  margin: 10px;
}

.AutoComplete {
  width: 25rem;
  margin: auto;
  padding-bottom: 30px;
}

@media only screen and (max-device-width: 480px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }
}

.TitleText {
  font-family: $font;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.ContentText {
  font-family: $font;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.supplierContent {
  width: 23rem;
  margin: auto;
  flex: 1;
  flex-direction: row;
  display: flex;
  padding: 20px;
}

.Supplier-Left {
  flex: 0.5;
  text-align: left;
  font-size: 18px;
}

.Supplier-Right {
  flex: 0.5;
  text-align: right;
  font-size: 18px;
}

.margin{
  margin-bottom: 20px;
}

.best-price{ 
  background-color: red;
  padding: 10px;
  border-radius: 7px;
  margin-left:16rem
}

.supplier-container{
  width: 25rem;
  margin: auto
}

.width{
  width: 30rem;
  margin: auto
}