$font:"Roboto", sans-serif;

.padder {
  padding: 0px 20px 0px 20px;
}

.container {
  padding: 3%;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}

.movie-container {
  width: 12rem;
  height: 18rem;
  font-family: $font;
  margin: 10px;
}

.AutoComplete {
  width: 25rem;
  margin: auto;
  padding-bottom: 30px;
}

@media only screen and (max-device-width: 480px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }
}
